body {
    background: url(http://a21.com.mx/sites/default/files/field/image/A21_puerta2_11Julio2019_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.input {
    width:250px;
    border: none;
    border-bottom: 2px solid rgb(41, 155, 149);
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.button {
    margin: 30px 10px 0 0;
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    background: rgb(41, 155, 149);
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    float: left;
}

.button:hover {
    outline: 1px;
    background: rgb(22, 83, 80);
}
