
@{
    ViewBag.Title = "Mantenimiento";
}

@section css{
    
        <link href="~/Estilos/MantenimientosPage.css" rel="stylesheet" />

    }

<h2 class="text-center text-primary">Mantenimiento</h2>
<br /><br />
<div class="row">
    <div class="col-md-4">
        
        <button onclick='document.location = "../Vuelo/ListarVuelos"' class="componente form-control">
            <div>
                <h2 class="text-center">Vuelos</h2>
            </div>
        </button>
    </div>
    <div class="col-md-4">
        
        <button onclick='document.location = "../Aeronave/ListarAeronaves"' class="componente form-control">
            <div>
                <h2 class="text-center">Aeronaves</h2>
            </div>
        </button>
    </div>
    <div class="col-md-4">
        
        <button onclick='document.location = "../TipoAeronave/ListarTipoAeronave"' class="componente form-control">
            <div>
                <h2 class="text-center">Tipo de aeronave</h2>
            </div>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
       
        <button onclick='document.location = "../EstadoAeronave/ListarEstadoAeronave"' class="componente form-control">
            <div>
                <h2 class="text-center">Estados de aeronave</h2>
            </div>
        </button>
    </div>

    <div class="col-md-4">
        
        <button onclick='document.location = "../Usuario/ListarUsuario"' class="componente form-control">
            <div>
                <h2 class="text-center">Usuarios</h2>
            </div>
        </button>
    </div>
    <div class="col-md-4">
       
        <button onclick='document.location = "../PerfilUsuario/ListarPerfil"' class="componente form-control">
            <div>
                <h2 class="text-center">Perfiles de usuario</h2>
            </div>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
       
        <button onclick='document.location = "../EstadoUsuario/ListarEstado"' class="componente form-control">
            <div>
                <h2 class="text-center">Estados de usuarios</h2>
            </div>
        </button>
    </div>


    <div class="col-md-4">
        <button onclick='document.location = "../Paises/ListarPais"' class="componente form-control">
            <div >
                <h2 class="text-center">Paises</h2>
            </div>
        </button>
    </div>
</div>
<br />
<br />